@font-face {
    font-family: 'iconfont';
    src: url('http://at.alicdn.com/t/font_868204_1ykixabyjnc.eot');
    src: url('http://at.alicdn.com/t/font_868204_1ykixabyjnc.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_868204_1ykixabyjnc.woff') format('woff'),
    url('http://at.alicdn.com/t/font_868204_1ykixabyjnc.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_868204_1ykixabyjnc.svg#iconfont') format('svg');
}